name: Scrape Telegram Bot API

on:
  workflow_dispatch:
    inputs:
      source_url:
        description: URL to source
        type: string
        required: true
        default: https://core.telegram.org/bots/api
  schedule:
    - cron: '0 20 * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: get_source_url
        env:
          DEFAULT_SOURCE_URL: https://core.telegram.org/bots/api
        run: echo "url=${{ github.event.inputs.source_url || env.DEFAULT_SOURCE_URL }}" >> $GITHUB_OUTPUT

      - id: get_current_version_json
        run: |
          content=`[ -f version.json ] && cat version.json || echo {"version":false}`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "versionJson=$content" >> $GITHUB_OUTPUT

      - id: get_current_version
        run: |
          echo "version=${{fromJson(steps.get_current_version_json.outputs.versionJson).version}}" >> $GITHUB_OUTPUT
      
      - name: Download source
        run: wget ${{ steps.get_source_url.outputs.url }} -O source.html

      - name: Download scraping tool
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: alserom/tg-bot-api-spec
          version: latest
          file: to-repo-data
          target: ./../to-repo-data
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Scrape
        run: chmod +x ./../to-repo-data && ./../to-repo-data --source=source.html

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: source
          path: source.html
          if-no-files-found: error

      - id: get_new_version_json
        run: |
          content=`[ -f version.json ] && cat version.json || echo {"version":false}`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "versionJson=$content" >> $GITHUB_OUTPUT

      - id: get_new_version
        run: |
          echo "version=${{fromJson(steps.get_new_version_json.outputs.versionJson).version}}" >> $GITHUB_OUTPUT

      - id: pr_data
        run: |
          if git show-ref --tags --veri
